<!-- SECTION HEADER -->
<section class="section-big-heading" style="background-image: url(../img/qt.jpg);">
    <!-- text on landing page -->
    <div class="landing-page">
        <h1 class="index-text">Bem-vindo(a) de volta!</h1>
        <h3 class="index-text">Faça login para continuar</h3>
        <form action="">
            <!--email -->
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <!-- password -->
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <!-- remember user -->
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="rememberMe">
                <label class="form-check-label text-white" for="remeberMe">
                  Lembrar-se de mim
                </label>
            </div>
            <!-- submit button -->
            <div class="submit-button mb-3">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <!-- link to signup -->
            <div class="text-center mb-3">
                <a href="/admin/signup" class="text-white">Não tem uma conta? Inscreva-se <span style="color: red;">aqui</span>.</a>
            </div>
        </form>
    </div>
</section>