<nav class="navbar navbar-expand-md bg-body-tertiary d-flex justify-content-between">
    <div class="container-fluid px-xl-5 py-4 mx-xl-5 px-3">
        <!-- logo -->
        <div class="logo">
            <a class="navbar-brand" href="#">
                <img src="img/manual_logo.png" alt="" width="130px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- navbar -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contato</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">Sobre Nós</a>
            </li>
            </ul>
        </div>
        <!-- name -->
        <div class="user d-flex">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Marcus
                    </a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>