
<footer class="py-5 bg-light d-flex justify-content-center">
    <div class="row px-3">
      <div class="col-md-4 mb-3 text-center">
        <img src="/img/manual_logo.png" class="img-fluid mb-3" alt="logo manual da gringa">
        <p>Porque o mundo agora também pode ser seu!</p>
        <hr class="d-block d-md-none">
      </div>
      <div class="col-6 col-md-4 mb-3 text-center">
        <h5>Manual da Gringa</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/" class="p-0">Blog</a></li>
          <li class="nav-item mb-2"><a href="/contact" class="p-0">Contato</a></li>
          <li class="nav-item mb-2"><a href="/about" class="p-0">Sobre Nós</a></li>
          <li class="nav-item mb-2"><a href="#" class="p-0">Perguntas Frequentes</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-4 mb-3 text-center">
        <h5>Siga nossas redes</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="p-0">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="p-0">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="p-0">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>

    </div>   
  </footer>
  <div class="d-flex flex-column flex-sm-row justify-content-between pt-3 px-5 bg-secondary">
    <p class="text-white">© <%= new Date().getFullYear()%> Da Gringa - Todos os direitos reservados.</p>
    <ul class="list-unstyled d-flex">
      <li class="ms-3">
        <p class="text-white">Marco Véio Codes</p>
      </li>
      <li class="ms-3">
        <a class="link-body-emphasis" href="https://github.com/marcoveio-diadema">
          <i class="fa-brands fa-github text-white"></i>
        </a>
      </li>
    </ul>
  </div>
