<!-- SECTION HEADER -->
<section class="section-heading" style="background-image: url(/img/poonhill.jpeg);">
    <!-- text on landing page -->
    <div class="landing-page">
        <% if (typeof message !== 'undefined') { %>
            <h1 class="index-text"><strong>Putsss!</strong> <%= message %></h1>
        <% } %>
    </div>
</section>