:root {
    --black: #494746;
    --gray: #7e7e7e;
    --gray-light: #F2F2F2;
    --mid-blue: #4682A9;
    --orange: #F05454;
    --border-radius: 10px;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--black);
    margin: 0;
    padding: 0;
}

a {
    color: var(--black);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--mid-blue);
}

.password-toggle {
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer;
}

.btn-custom {
    background-color: var(--mid-blue);
    color: var(--gray-light);
    border: none;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.3s;
}

.btn-custom:hover {
    background-color: #183153;
    border: none;
    color: var(--gray-light);
}

#login-button {
    background-color: #183153;
}

#login-button:hover {
    background-color: var(--mid-blue);
}

.go-button {
    border-top: solid 1px #DEE2E6;
    border-right: solid 1px #DEE2E6;
    border-bottom: solid 1px #DEE2E6;
}

.card {
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}


.card-category {
    color: var(--orange);
}

h5.card-text {
    color: var(--black) !important;
}

p.intro {
    color: var(--gray);

}

.card-details {
    color: var(--gray);
}

.img-custom {
    height: 100%;
    object-fit: cover;
}

img {
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
}

/* NAVIGATION BAR */
.search-button {
    border-top: 1px solid #DEE2E6;
    border-right: 1px solid #DEE2E6;
    border-bottom: 1px solid #DEE2E6;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

@media (min-width: 768px) { /* From md screens and up */
    .nav-item {
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 1000px) {
    .search-nav {
        display: none !important;
    }
}

@media (min-width: 1000px) {
    #search-btn {
        display: none !important;
    }
}


#search-btn {
    border: 1px solid #DEE2E6;
}

a.nav-link {
    color: var(--black);
    position: relative;
}

@media (min-width:300px) and (max-width: 992px) {
    .navbar-nav .nav-item {
      margin: 1rem auto;
      padding-top: 1rem;
    }

    .logo img {
      width: 90px;}
  }

@media (max-width: 400px) {
    .nav-link {
        font-size: 0.8rem;
    }

    .btn-custom {
        font-size: 0.8rem;
    }
}

@media (max-width: 300px){
    .logo img {
        width: 70px;
    }

    .btn-custom {
        margin-top: 0.75rem;
    }
}

a.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: var(--black);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a.nav-link:hover::before {
transform-origin: left;
transform: scaleX(1);
}


/* INDEX PAGE */

/* heading section */
.section-heading {
    position: relative;
    height: 700px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.section-heading::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% opacity */
}

.section-small-heading {
    position: relative;
    height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.section-small-heading::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% opacity */
}

@media only screen and (max-width:768px){
    .section-heading{
        height: 500px;
    }
}

.landing-page {
    text-align: center;
    position: relative;
    z-index: 1;
}
.index-text {
    color: var(--gray-light);
    text-shadow: 0 0 5px var(--gray);
    padding: 2rem;
}

#landing-icon {
    color: var(--gray-light);
    transition: 0.3s;
}

#landing-icon:hover {
    transform: scale(1.5);
}

/* SIDE NAV */
.about img {
    max-width: 80%;
}

.about p {
    padding: 2rem 0;
}

/* SIGN UP */
#counter {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--gray);
}

/* POST */
.share-icons-container i {
    margin: 0 1.3rem;;
}

.share-icons{
    transition: .3s;
}

.share-icons:hover {
    color: var(--mid-blue);
}

/* FOOTER */
footer .nav-item a {
    color: var(--black);
    transition: 0.3s;
}

footer .nav-item a:hover {
    color: var(--mid-blue);
}

footer img {
    max-width: 70%;
}

