<section class="section-admin">
    <div class="container">
        <div class="row">
            <!-- menu bar -->
            <div class="col-md-3">
                <div class="admin-menu">
                    <h4>Painel de Controle</h4>
                    <ul class="list-group">
                        <li class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Novo Post</a>
                        </li>
                        <li class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Todos os posts</a>
                        </li>
                        <li class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Categorias</a>
                        </li>
                        <li class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Newsletter</a>
                        </li>
                        <li class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Comentários</a>
                        </li>
                        <hr>
                        <li class="list-group">
                            <a href="#" class="list-group-item btn btn-primary">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- main content -->
            <div class="col-md-9">
                <!-- all posts -->
                <h4>Todos os posts</h4>
                <div class="container-posts">
                    <table class="table mx-auto">
                        <thead>
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Category</th>
                            <th scope="col">Date</th>
                            <th scope="col">Last Edit</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, natus.</td>
                            <td>Brasil</td>
                            <td>02/02/2002</td>
                            <td>02/02/2002</td>
                            <td><a href="">Edit</a> / <a href="">Delete</a></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <!-- categories -->                
                <h4>Categorias</h4>
                <div class="new-category col-md-6 mx-auto">
                    <h6>Nova Categoria</h6>
                    <form action="/user/new-category" method="POST">
                        <div class="form-floating mb-3">
                            <input type="text" name="categoryName" class="form-control" id="categoryNameInput" placeholder="Nome da categoria">
                            <label for="categoryNameInput">Nome da categoria</label>
                        </div>
                        <div class="submit-button text-center mb-3">
                            <button type="submit" class="btn btn-primary">Criar categoria</button>
                        </div>
                    </form>
                </div>
                <!-- categories list -->
                <div class="container-categories">
                    <table class="table mx-auto">
                        <thead>
                            <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Category name</th>
                            <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% categories.forEach(category => { %>
                                <tr>
                                    <th scope="row"><%= category.id %></th>
                                    <td><%= category.category %></td>
                                    <td>
                                        <form action="/user/delete-category" method="POST">
                                            <input type="hidden" name="categoryId" value="<%= category.id %>">
                                            <button type="submit" class="btn">Delete</button>
                                        </form>
                                    </td>
                                    </tr>
                            <% }) %>                            
                        </tbody>
                    </table>
                </div>
                <!-- newsletter -->
                <h4>Newsletter</h4>
                <div class="container-newsletter">
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Email</th>
                            <th scope="col">Signup date</th>
                            <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">1</th>
                            <td>mark@mail.com</td>
                            <td>02/02/2002</td>
                            <td><a href="">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- comments -->
                <h4>Comments</h4>
                <div class="container-newsletter">
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Comment</th>
                            <th scope="col">Post</th>
                            <th scope="col">Date</th>
                            <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">1</th>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing.</td>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, iusto.</td>
                            <td>02/02/2002</td>
                            <td><a href="">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>