<!-- SECTION HEADER -->
<section class="section-big-heading" style="background-image: url(../img/qt.jpg);">
    <!-- login form -->
    <div class="landing-page">
        <h1 class="index-text">Esqueceu a senha?</h1>
        <!-- message if success -->
        <% if (messages.success) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Sucesso!</strong> <%= messages.success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        <!-- message if error -->
        <% if (messages.error) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Erro!</strong> <%= messages.error %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        <!-- forgot password form -->
        <h3 class="index-text">Digite seu email para receber o código de reinicialização de senha.</h3>
        <form action="/user/forgot-password" method="POST">
            <!--email -->
            <div class="form-floating mb-3">
                <input type="email" name="email" class="form-control" id="emailInput" placeholder="name@example.com">
                <label for="emailInput">Email</label>
            </div>
            <!-- submit button -->
            <button type="submit" class="btn btn-custom mb-3">Enviar código</button>            
            <div class="text-center mb-3">
                <p class="text-white">* Caso o email não apareça, olhe na sua caixa de SPAM também.</p>
            </div>
        </form>
    </div>
</section>