<!-- SECTION HEADER -->
<section class="section-big-heading" style="background-image: url(../img/qt.jpg);">
    <!-- login form -->
    <div class="landing-page">
        <h1 class="index-text">Reiniciar a senha</h1>
        <!-- message if error when changing password -->        
        <% if (locals.error) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Erro!</strong> <%= locals.error %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        <!-- rest password form -->
        <h3 class="index-text">Digite sua nova senha.</h3>
        <form action="/user/reset-password/<%= token %>" method="POST" id="resetPasswordForm">
            <!-- senha -->
            <div class="form-floating mb-3">
                <input type="password" name="resetPassword" class="form-control" id="resePpassword" placeholder="New Password">
                <label for="resePpassword">Nova senha</label>
                <i class="fa-regular fa-eye password-toggle"></i>
            </div>
            <!-- confirmar senha -->
            <div class="form-floating mb-3">
                <input type="password" name="resetPasswordConfirm" class="form-control" id="resetPasswordConfirm" placeholder="New Password">
                <label for="resetPasswordConfirm">Confirmar a senha</label>
                <i class="fa-regular fa-eye password-toggle"></i>
            </div>
            <!-- submit button -->
            <button type="submit" class="btn btn-custom mb-3">Salvar nova senha</button>            
        </form>
    </div>
</section>