<!-- SECTION HEADER -->
<section class="section-small-heading" style="background-image: url(../img/marcus_nepal.jpeg);">
    <!-- text on landing page -->
    <div class="landing-page">
        <h1 class="index-text">Sobre Nós</h1>
        <h3 class="index-text">De onde vem? Do que se alimentam? Hoje, aqui no Manual da Gringa</h3>
        <i class="fa-solid fa-circle-down fa-xl" id="landing-icon"></i>
    </div>
</section>