<!-- SECTION HEADER -->
<section class="section-small-heading" style="background-image: url(../img/qt.jpg);">
    <!-- text on landing page -->
    <div class="landing-page">
        <h1 class="index-text">Contato</h1>
        <h3 class="index-text">Tem história para compartilhar? Quer dar dicas e sugestões?</h3>
        <i class="fa-solid fa-circle-down fa-xl" id="landing-icon"></i>
    </div>
</section>