<!-- SECTION HEADER -->
<section class="section-heading" style="background-image: url(../img/GOPR1432.JPG);">
    <!-- text on landing page -->
    <div class="landing-page">
        <h1 class="index-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae optio ipsam commodi quod voluptatum molestiae?</h1>
    </div>
</section>

<!-- SECTION POST -->
<section class="section-post">
    <div class="container">
        <div class="row">
            <!-- LEFT SIDE (posts)-->
            <div class="col-md-9 mt-3 py-3">
                <!-- post intro -->
                <h4 class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, minus, consequatur est magnam accusamus error enim beatae neque porro numquam nemo inventore sequi quos! Consequuntur alias molestiae nihil rerum esse.</h4>
                <!-- post details -->
                <div class="container">
                    <div class="row text-center">
                        <div class="col-4">
                            <p class=""><small class="">Por: <strong>Marquinhos</strong></small></p>
                        </div>
                        <div class="col-4">
                            <p class="small">Postado em 02/02/2002 <br>
                                Atualizado em 02/02/2002
                            </p>
                        </div>
                        <div class="col-4">
                            <a class="link-body-emphasis" href="#">
                                <i class="fa-brands fa-whatsapp"></i>
                            </a>
                            <a class="link-body-emphasis" href="#">
                                <i class="fa-brands fa-x-twitter"></i>
                            </a>
                            <a class="link-body-emphasis" href="#">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <hr>
               
                <div class="post-content my-3 px-3">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ex. Eveniet excepturi laboriosam explicabo architecto optio dolores tenetur ab, dolorem, provident praesentium, consectetur quod? Molestiae quisquam tenetur possimus. Rem veniam totam animi voluptatum maiores doloremque modi, aliquam rerum at officia?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ex. Eveniet excepturi laboriosam explicabo architecto optio dolores tenetur ab, dolorem, provident praesentium, consectetur quod? Molestiae quisquam tenetur possimus. Rem veniam totam animi voluptatum maiores doloremque modi, aliquam rerum at officia?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ex. Eveniet excepturi laboriosam explicabo architecto optio dolores tenetur ab, dolorem, provident praesentium, consectetur quod? Molestiae quisquam tenetur possimus. Rem veniam totam animi voluptatum maiores doloremque modi, aliquam rerum at officia?</p>
                    <div class="container my-3">
                        <img src="../img/GOPR1432.JPG" class="img-fluid rounded" alt="">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ex. Eveniet excepturi laboriosam explicabo architecto optio dolores tenetur ab, dolorem, provident praesentium, consectetur quod? Molestiae quisquam tenetur possimus. Rem veniam totam animi voluptatum maiores doloremque modi, aliquam rerum at officia?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ex. Eveniet excepturi laboriosam explicabo architecto optio dolores tenetur ab, dolorem, provident praesentium, consectetur quod? Molestiae quisquam tenetur possimus. Rem veniam totam animi voluptatum maiores doloremque modi, aliquam rerum at officia?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ex. Eveniet excepturi laboriosam explicabo architecto optio dolores tenetur ab, dolorem, provident praesentium, consectetur quod? Molestiae quisquam tenetur possimus. Rem veniam totam animi voluptatum maiores doloremque modi, aliquam rerum at officia?</p>

                
                </div>
            </div>
            <!-- RIGHT SIDE (categories, subscribe, search and about)-->
            <div class="col-md-3 mt-3 py-3">
                <!-- categories -->
                <h2 class="section-title text-center">Categorias:</h2>
                <div class="categories my-3 py-3">
                    <ul class="list-group">
                        <li class="list-group-item">Category</li>
                        <li class="list-group-item">Category</li>
                        <li class="list-group-item">Category</li>
                        <li class="list-group-item">Category</li>
                        <li class="list-group-item">Category</li>
                      </ul>
                </div>
                <!-- search -->
                <h2 class="section-title text-center">Busca rápida:</h2>
                <div class="search my-3 py-3">
                    <form action="">
                        <input type="text" class="form-control" placeholder="Search...">
                        <button class="btn btn-primary mt-2">Search</button>
                    </form>
                </div>
                <!-- subscribe -->
                <h2 class="section-title text-center">Subscribe:</h2>
                <div class="subscribe my-3 py-3">
                    <form action="">
                        <input type="email" class="form-control" placeholder="Your email...">
                        <button class="btn btn-primary mt-2">Subscribe</button>
                    </form>
                </div>
                <!-- about -->
                <h2 class="section-title text-center">Sobre:</h2>
                <div class="about my-3 py-3">
                    <img src="/img/marcus_1.jpg" class="img-fluid rounded mb-3" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus suscipit optio ad voluptatem ea amet, ex architecto est fuga fugiat?</p>
                </div>
            </div>
        </div>
    </div>
</section>